html, body,div>root{
  height:100%;
} 
/* #root > div > div.form-panel.p-5.d-flex.flex-column.w-100.bg-light{
  align-items: center;
}

#root > div > div.form-panel.p-5.d-flex.flex-column.w-100{
  align-items: center;
} */

form{
  width:50%;
}
#messaging-form{
  width:100%;
}
.message-box{
  width:90%
}

#root > div > div.signup-form{
  display: none;
}

#tooltip{
  display:hidden;
}

#logo{
  margin-right:15px;
  margin-left:15px;
}
.messages{
  width:80%;
  height:90vh;
  overflow-y:scroll;
  margin-bottom:2px;

}
.red{
  height:30px;
}
.new_msg{
  margin-bottom:2px;
}
#msgs_history{
  height:85vh;
  /* overflow-y:scroll; */
}
#message-input{
  width:80%;
  border:2px groove rgb(139, 139, 255);
}
.input-group{
  height:45px;
}
#message-input:focus-visible{
  border:3px solid aliceblue;
}
.user{
  width: 50%;
  background: aliceblue;
  margin:12px;
  border-radius: 26px;
  border: hidden;
}
ul{
  list-style-type: none;
}
#messages > li{
  font-size:24px;
  color:green;
}
.time-right{
  float:right;
  color:#aaa;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
