html, body,div>root{
  height:100%;
} 
/* #root > div > div.form-panel.p-5.d-flex.flex-column.w-100.bg-light{
  align-items: center;
}

#root > div > div.form-panel.p-5.d-flex.flex-column.w-100{
  align-items: center;
} */

form{
  width:50%;
}
#messaging-form{
  width:100%;
}
.message-box{
  width:80%
}

#root > div > div.signup-form{
  display: none;
}

#tooltip{
  display:hidden;
}

#logo{
  margin-right:15px;
  margin-left:15px;
}
.messages-container{
  /* width:80%; */
  display:flex;
  height:90vh;
  overflow-y:scroll;
  margin-bottom:2px;

}
.red{
  /* background:red; */
  /* height:50px; */
  margin-top:12px;
}
.new_msg{
  margin-bottom:2px;
}
#msgs_history{
  height:85vh;
  /* overflow-y:scroll; */
}

#message-input{
  width:80%;
  border:2px groove rgb(139, 139, 255);
}
.input-group{
  height:45px;
}
.self_user,.new_msg{
  position: relative;
  margin-left:20px;
  max-width:fit-content;
  margin-bottom:10px;
  padding:10px;
  background-color: #A8DDFD;
  border:1px solid #97C6E3;
  border-radius: 10px;
  line-height:19px;
}
.self_user:after, .new_msg:after{
  content:'';
  position:absolute;
  width:0;
  height:0;
  border-top:15px solid #A8DDFD;
  border-left:15px solid transparent;
  border-right: 15px solid transparent;
  top:0;
  left:-15px;

}
.other_user{
  position:relative;
  margin-bottom:10px;
  margin-left:calc(100% - 240px);
  padding:10px;
  background-color: #f8e896;
  border: 1px solid  #dfd087;
  border-radius:10px;
}
.other_user:after{
  content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 15px solid #f8e896;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: 0;
    right: -15px;

}
.other_user:before{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 17px solid #dfd087;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  bottom: -1px;
  right: -17px;
}

/* li.old_msg:before{
  content:'';
  position:absolute;
  width:12px;
  height:0;
  background-color:black;
  border-top:17px solid #97C6E3;
  border-left:16px solid transparent;
  border-right: 16px solid transparent;
  top:-1px;
  left:--17px;

} */

#message-input:focus-visible{
  border:3px solid aliceblue;
}

button.list-group-item.list-group-item-action {
  height: 100px;
  border-top:0px;
  border-right:0px;
  border-left:0px;
  font-size: 18px;
  text-align: left;
}
.user{
  width: 50%;
  height: 100px;
  background: aliceblue;
  margin:12px;
  border-radius: 26px;
  border: hidden;
}
.other_user>.time-right, .other_user>.user_name{
  text-align:right;
}
.time-right{
  color: darkblue;
  font-size:12px;
}
.user_name{
/* position:absolute; */
color:darkblue;
/* top:1px;
left:10px; */
font-size:12px;
}
.message{
  /* position:absolute;

  bottom:25%; */
  font-size:100%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
