body{
  background:#D6DAFD;
  margin: 0px;
  height:100vh;
}
#root > nav{
  padding-left:10px;
}
.navbar{
  background:#E2EAFF;
  width:100%;
  margin:0px;
  height:100px;
}
#root > div > div.form-panel.p-5.d-flex.flex-column.w-100.bg-light{
  align-items: center;
}
.main-content{
  display:flex;
}
.container{
  margin-top:10%;
  width:60%;
  display:inline-block;
}
.sides{
  width:20%;
  display: flex;
}

form{
  width:50%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
